<!DOCTYPE html>
<html ng-app="myApp"> 
<head>
	<title> Angular JS - CISS</title>
	<meta charset="UTF-8"> 
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">  
	<script type="text/javascript" src="js/angular.min.js"></script> 
	<script type="text/javascript" src="js/myApp.js"></script> 
	<script type="text/javascript" src="js/controller/formCtrl.js"></script> 
</head>
<body ng-controller="FormCtrl"> 
	<div class=container>

		<div class="jumbotron"> 
			<h1 ng-bing"'Cadastro de tarefas'"></h1>

			<form class="row">

				<div class="form-group">					
					<label for="name"> Tarefa: </label>
					<input type="text" class="form-control" id="tarefa" ng-model="tarefa" placeholder="Digite uma Tarefa">
				</div>
				<div class="form-group">
					<button class="btn btn-primary pull-right" ng-click="cadastraTarefa(tarefa)"> Cadastrar </button>
				</div>		

			</form>

			<hr>
			.<div class="row">
			<div class="form-group">
				<label for "search">Buscar</label>
				<input type="text" class="form-control" id="search" ng-model="search"></input>
			</div>
			<p>{{ search }}</p>
			<!-- BEGIN TABLE -->
			<table class="table">
				<thead>
					<tr>
						<th>Check</th>
						<th>Tarefa</th>
						<th>Data</th>
						<th>Editar</th>						
					</tr>						
				</thead>
				<tbody>
					<tr ng-repeat="item in list | filter : search">
						<td ><input type="checkbox" ng-model="item.check"></input> </td> 						
						<td ng-bind="item.nomeTarefa"></td>
						<td ng-bind="item.dataTarefa | date:'dd/MM/yyyy'"></td> 
						<td>
							<button class="btn btn-success" ng-click="editaTarefa($index)">
								<i class="glyphicon glyphicon-pencil"> </i>
							</button>
						</td>				
						<td>
							<button class="btn btn-success" ng-click="deletaTarefa($index)">
								<i class="glyphicon glyphicon-trash"> </i>
							</button>		
						</td>	
					</tr>												
				</tbody>
			</table>		
			

			<!--<div class="row" ng-hide="!clicouEditar"> -->
			<div class="row" ng-show="clicouEditar">

				<div class="form-group col-xs-8">										
					<input type="text" class="form-control" ng-model="renomear">
				</div>
				<div class="col-xs-4">
					<button class="btn btn-primary pull-right" ng-click="renomearTarefa(renomear)"> Renomear </button>
				</div>		

			</div>


			<!--<p>{{list}}</p> -->
		</div>



			<!--<legend>Informações</legend>
			<p ng-if="pessoa.name"> Nome: <strong ng-bind="pessoa.name"></strong> </p>
			<p ng-if="pessoa.lastname"> Sobrenome: <strong ng-bind="pessoa.lastname"></strong> </p>
			<p ng-if="pessoa.age"> Idade: <strong ng-bind="pessoa.age"></strong> </p>
			<p ng-if="pessoa.phone"> Telefone: <strong ng-bind="pessoa.phone"></strong> </p>
			<p ng-if="pessoa.email"> Email: <strong ng-bind="pessoa.email"></strong> </p>			

			<span>{{pessoa}}</span>	-->

			<!-- <p>Olá <span ng-bind="name" ng-bind="lastname"></span>, seu contato é: <span ng-bind="email"></span></p> -->

				<!--
				<div class=form-group>
					<legend>Dados Pessoais</legend>
				
					<div class="form-group col-xs-12 col-sm-6">					
						<label for="name">Nome</label>
						<input type="text" class="form-control" id="name" ng-model="pessoa.name" placeholder="Digite seu primeiro nome">
					</div>
				
					<div class="form-group col-xs-12 col-sm-6">										
						<label for="lastname">Sobrenome</label>
						<input type="text" class="form-control" id="lastname" ng-model="pessoa.lastname" placeholder="Digite seu sobrenome">
					</div>										
				</div>					


				<div class=form-group>
					<legend>Contato</legend>

					<div class="form-group col-xs-12 col-md-4">				
						<label for="phone">Idade</label>
						<input type="number" class="form-control" id="age" ng-model="pessoa.age" placeholder="Digite sua Idade">
					</div>
					<div class="form-group col-xs-12 col-md-4">				
						<label for="phone">Telefone</label>
						<input type="text" class="form-control" id="phone" ng-model="pessoa.phone" placeholder="Digite seu telefone">
					</div>
				<div class="form-group col-xs-12 col-md-4">				
						<label for="email">E-mail</label>
						<input type="email" class="form-control" id="email" ng-model="pessoa.email" placeholder="Digite seu e-mail">
					</div>					

				</div> -->


			</div>
		</div>  


	</body>
	</html>